/* index.css January 2021 by Jonathan McCormick */
/* Adapted from W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:22px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.BP-serif{font-family:serif}.BP-sans-serif{font-family:sans-serif}.BP-cursive{font-family:cursive}.BP-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"XoloniumRegular",Arial,sans-serif;font-weight:400;margin:10px 0}.BP-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.BP-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.BP-table,.BP-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.BP-table-all{border:1px solid #ccc}
.BP-bordered tr,.BP-table-all tr{border-bottom:1px solid #ddd}.BP-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.BP-table-all tr:nth-child(odd){background-color:#fff}.BP-table-all tr:nth-child(even){background-color:#f1f1f1}
.BP-hoverable tbody tr:hover,.BP-ul.BP-hoverable li:hover{background-color:#ccc}.BP-centered tr th,.BP-centered tr td{text-align:center}
.BP-table td,.BP-table th,.BP-table-all td,.BP-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.BP-table th:first-child,.BP-table td:first-child,.BP-table-all th:first-child,.BP-table-all td:first-child{padding-left:16px}
.BP-btn,.BP-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.BP-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.BP-btn,.BP-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.BP-disabled,.BP-btn:disabled,.BP-button:disabled{cursor:not-allowed;opacity:0.3}.BP-disabled *,:disabled *{pointer-events:none}
.BP-btn.BP-disabled:hover,.BP-btn:disabled:hover{box-shadow:none}
.BP-badge,.BP-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.BP-badge{border-radius:50%}
.BP-ul{list-style-type:none;padding:0;margin:0}.BP-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.BP-ul li:last-child{border-bottom:none}
.BP-tooltip,.BP-display-container{position:relative}.BP-tooltip .BP-text{display:none}.BP-tooltip:hover .BP-text{display:inline-block}
.BP-ripple:active{opacity:0.5}.BP-ripple{transition:opacity 0s}
.BP-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.BP-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.BP-dropdown-click,.BP-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.BP-dropdown-hover:hover .BP-dropdown-content{display:block}
.BP-dropdown-hover:first-child,.BP-dropdown-click:hover{background-color:#ccc;color:#000}
.BP-dropdown-hover:hover > .BP-button:first-child,.BP-dropdown-click:hover > .BP-button:first-child{background-color:#ccc;color:#000}
.BP-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.BP-check,.BP-radio{width:24px;height:24px;position:relative;top:6px}
.BP-sidebar{height:100%;widows:500px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.BP-bar-block .BP-dropdown-hover,.BP-bar-block .BP-dropdown-click{width:100%}
.BP-bar-block .BP-dropdown-hover .BP-dropdown-content,.BP-bar-block .BP-dropdown-click .BP-dropdown-content{min-width:100%}
.BP-bar-block .BP-dropdown-hover .BP-button,.BP-bar-block .BP-dropdown-click .BP-button{width:100%;text-align:left;padding:8px 16px}
.BP-main,#main{transition:margin-left .4s}
.BP-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.BP-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.BP-bar{width:100%;overflow:hidden}.BP-center .BP-bar{display:inline-block;width:auto}
.BP-bar .BP-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.BP-bar .BP-dropdown-hover,.BP-bar .BP-dropdown-click{position:static;float:left}
.BP-bar .BP-button{white-space:normal}
.BP-bar-block .BP-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.BP-bar-block.BP-center .BP-bar-item{text-align:center}.BP-block{display:block;width:100%}
.BP-responsive{display:block;overflow-x:auto}
.BP-container:after,.BP-container:before,.BP-panel:after,.BP-panel:before,.BP-row:after,.BP-row:before,.BP-row-padding:after,.BP-row-padding:before,
.BP-cell-row:before,.BP-cell-row:after,.BP-clear:after,.BP-clear:before,.BP-bar:before,.BP-bar:after{content:"";display:table;clear:both}
.BP-col,.BP-half,.BP-third,.BP-twothird,.BP-threequarter,.BP-quarter{float:left;width:100%}
.BP-col.s1{width:8.33333%}.BP-col.s2{width:16.66666%}.BP-col.s3{width:24.99999%}.BP-col.s4{width:33.33333%}
.BP-col.s5{width:41.66666%}.BP-col.s6{width:49.99999%}.BP-col.s7{width:58.33333%}.BP-col.s8{width:66.66666%}
.BP-col.s9{width:74.99999%}.BP-col.s10{width:83.33333%}.BP-col.s11{width:91.66666%}.BP-col.s12{width:99.99999%}
@media (min-width:601px){.BP-col.m1{width:8.33333%}.BP-col.m2{width:16.66666%}.BP-col.m3,.BP-quarter{width:24.99999%}.BP-col.m4,.BP-third{width:33.33333%}
.BP-col.m5{width:41.66666%}.BP-col.m6,.BP-half{width:49.99999%}.BP-col.m7{width:58.33333%}.BP-col.m8,.BP-twothird{width:66.66666%}
.BP-col.m9,.BP-threequarter{width:74.99999%}.BP-col.m10{width:83.33333%}.BP-col.m11{width:91.66666%}.BP-col.m12{width:99.99999%}}
@media (min-width:993px){.BP-col.l1{width:8.33333%}.BP-col.l2{width:16.66666%}.BP-col.l3{width:24.99999%}.BP-col.l4{width:33.33333%}
.BP-col.l5{width:41.66666%}.BP-col.l6{width:49.99999%}.BP-col.l7{width:58.33333%}.BP-col.l8{width:66.66666%}
.BP-col.l9{width:74.99999%}.BP-col.l10{width:83.33333%}.BP-col.l11{width:91.66666%}.BP-col.l12{width:99.99999%}}
.BP-rest{overflow:hidden}.BP-stretch{margin-left:-16px;margin-right:-16px}
.BP-content,.BP-auto{margin-left:auto;margin-right:auto}.BP-content{max-width:980px}.BP-auto{max-width:1140px}
.BP-cell-row{display:table;width:100%}.BP-cell{display:table-cell}
.BP-cell-top{vertical-align:top}.BP-cell-middle{vertical-align:middle}.BP-cell-bottom{vertical-align:bottom}
.BP-hide{display:none!important}.BP-show-block,.BP-show{display:block!important}.BP-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.BP-auto{max-width:95%}}
@media (max-width:600px){.BP-modal-content{margin:0 10px;width:auto!important}.BP-modal{padding-top:30px}
.BP-dropdown-hover.BP-mobile .BP-dropdown-content,.BP-dropdown-click.BP-mobile .BP-dropdown-content{position:relative}
.BP-hide-small{display:none!important}.BP-mobile{display:block;width:100%!important}.BP-bar-item.BP-mobile,.BP-dropdown-hover.BP-mobile,.BP-dropdown-click.BP-mobile{text-align:center}
.BP-dropdown-hover.BP-mobile,.BP-dropdown-hover.BP-mobile .BP-btn,.BP-dropdown-hover.BP-mobile .BP-button,.BP-dropdown-click.BP-mobile,.BP-dropdown-click.BP-mobile .BP-btn,.BP-dropdown-click.BP-mobile .BP-button{width:100%}}
@media (max-width:768px){.BP-modal-content{width:500px}.BP-modal{padding-top:50px}}
@media (min-width:993px){.BP-modal-content{width:900px}.BP-hide-large{display:none!important}.BP-sidebar.BP-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.BP-hide-medium{display:none!important}}
@media (max-width:992px){.BP-sidebar.BP-collapse{display:none}.BP-main{margin-left:0!important;margin-right:0!important}.BP-auto{max-width:100%}}
.BP-top,.BP-bottom{position:fixed;width:100%;z-index:1}.BP-top{top:0}.BP-bottom{bottom:0}
.BP-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.BP-display-topleft{position:absolute;left:0;top:0}.BP-display-topright{position:absolute;right:0;top:0}
.BP-display-bottomleft{position:absolute;left:0;bottom:0}.BP-display-bottomright{position:absolute;right:0;bottom:0}
.BP-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.BP-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.BP-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.BP-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.BP-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.BP-display-container:hover .BP-display-hover{display:block}.BP-display-container:hover span.BP-display-hover{display:inline-block}.BP-display-hover{display:none}
.BP-display-position{position:absolute}
.BP-circle{border-radius:50%}
.BP-round-small{border-radius:2px}.BP-round,.BP-round-medium{border-radius:4px}.BP-round-large{border-radius:8px}.BP-round-xlarge{border-radius:16px}.BP-round-xxlarge{border-radius:32px}
.BP-row-padding,.BP-row-padding>.BP-half,.BP-row-padding>.BP-third,.BP-row-padding>.BP-twothird,.BP-row-padding>.BP-threequarter,.BP-row-padding>.BP-quarter,.BP-row-padding>.BP-col{padding:0 8px}
.BP-container,.BP-panel{padding:0.01em 16px}.BP-panel{margin-top:16px;margin-bottom:16px}
.BP-code,.BP-codespan{font-family:Consolas,"courier new";font-size:16px}
.BP-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.BP-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.BP-card,.BP-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.BP-card-4,.BP-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.BP-spin{animation:BP-spin 2s infinite linear}@keyframes BP-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.BP-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.BP-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.BP-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.BP-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.BP-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.BP-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.BP-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.BP-animate-input{transition:width 0.4s ease-in-out}.BP-animate-input:focus{width:100%!important}
.BP-opacity,.BP-hover-opacity:hover{opacity:0.60}.BP-opacity-off,.BP-hover-opacity-off:hover{opacity:1}
.BP-opacity-max{opacity:0.25}.BP-opacity-min{opacity:0.75}
.BP-greyscale-max,.BP-grayscale-max,.BP-hover-greyscale:hover,.BP-hover-grayscale:hover{filter:grayscale(100%)}
.BP-greyscale,.BP-grayscale{filter:grayscale(75%)}.BP-greyscale-min,.BP-grayscale-min{filter:grayscale(50%)}
.BP-sepia{filter:sepia(75%)}.BP-sepia-max,.BP-hover-sepia:hover{filter:sepia(100%)}.BP-sepia-min{filter:sepia(50%)}
.BP-tiny{font-size:10px!important}.BP-small{font-size:12px!important}.BP-medium{font-size:15px!important}.BP-large{font-size:18px!important}
.BP-xlarge{font-size:24px!important}.BP-xxlarge{font-size:36px!important}.BP-xxxlarge{font-size:48px!important}.BP-jumbo{font-size:64px!important}
.BP-left-align{text-align:left!important}.BP-right-align{text-align:right!important}.BP-justify{text-align:justify!important}.BP-center{text-align:center!important}
.BP-border-0{border:0!important}.BP-border{border:1px solid #ccc!important}
.BP-border-top{border-top:1px solid #ccc!important}.BP-border-bottom{border-bottom:1px solid #ccc!important}
.BP-border-left{border-left:1px solid #ccc!important}.BP-border-right{border-right:1px solid #ccc!important}
.BP-topbar{border-top:6px solid #ccc!important}.BP-bottombar{border-bottom:6px solid #ccc!important}
.BP-leftbar{border-left:6px solid #ccc!important}.BP-rightbar{border-right:6px solid #ccc!important}
.BP-section,.BP-code{margin-top:16px!important;margin-bottom:16px!important}
.BP-margin{margin:16px!important}.BP-margin-top{margin-top:16px!important}.BP-margin-bottom{margin-bottom:16px!important}
.BP-margin-left{margin-left:16px!important}.BP-margin-right{margin-right:16px!important}
.BP-padding-small{padding:4px 8px!important}.BP-padding{padding:8px 16px!important}.BP-padding-large{padding:12px 24px!important}
.BP-padding-16{padding-top:16px!important;padding-bottom:16px!important}.BP-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.BP-padding-32{padding-top:32px!important;padding-bottom:32px!important}.BP-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.BP-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.BP-padding-top-150{padding-top:150px!important}.BP-padding-top-150{padding-top:150px!important}
.BP-padding-top-110{padding-top:110px!important}.BP-padding-top-110{padding-top:110px!important}
.BP-padding-top-100{padding-top:100px!important}.BP-padding-top-100{padding-top:100px!important}
.BP-padding-top-80{padding-top:80px!important}.BP-padding-top-80{padding-top:80px!important}
.BP-padding-top-64{padding-top:64px!important}.BP-padding-top-48{padding-top:48px!important}
.BP-padding-top-32{padding-top:32px!important}.BP-padding-top-24{padding-top:24px!important}
.BP-left{float:left!important}.BP-right{float:right!important}
.BP-button:hover{color:#000!important;background-color:#ccc!important}
.BP-transparent,.BP-hover-none:hover{background-color:transparent!important}
.BP-hover-none:hover{box-shadow:none!important}
/* Colors */
.BP-tech-green,.BP-hover-tech-green:hover{color:#000!important;background-color:#23c40e!important}
.BP-crypto-blue,.BP-hover-khaki:hover{color:#000!important;background-color:#34b6f8!important}
.BP-amber,.BP-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.BP-aqua,.BP-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.BP-blue,.BP-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.BP-light-blue,.BP-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.BP-brown,.BP-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.BP-cyan,.BP-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.BP-blue-grey,.BP-hover-blue-grey:hover,.BP-blue-gray,.BP-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.BP-green,.BP-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.BP-light-green,.BP-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.BP-indigo,.BP-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.BP-khaki,.BP-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.BP-lime,.BP-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.BP-orange,.BP-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.BP-deep-orange,.BP-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.BP-pink,.BP-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.BP-purple,.BP-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.BP-deep-purple,.BP-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.BP-red,.BP-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.BP-sand,.BP-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.BP-teal,.BP-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.BP-yellow,.BP-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.BP-white,.BP-hover-white:hover{color:#000!important;background-color:#fff!important}
.BP-black,.BP-hover-black:hover{color:#fff!important;background-color:#000!important}
.BP-grey,.BP-hover-grey:hover,.BP-gray,.BP-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.BP-light-grey,.BP-hover-light-grey:hover,.BP-light-gray,.BP-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.BP-dark-grey,.BP-hover-dark-grey:hover,.BP-dark-gray,.BP-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.BP-pale-red,.BP-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.BP-pale-green,.BP-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.BP-pale-yellow,.BP-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.BP-pale-blue,.BP-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.BP-text-amber,.BP-hover-text-amber:hover{color:#ffc107!important}
.BP-text-aqua,.BP-hover-text-aqua:hover{color:#00ffff!important}
.BP-text-blue,.BP-hover-text-blue:hover{color:#2196F3!important}
.BP-text-light-blue,.BP-hover-text-light-blue:hover{color:#87CEEB!important}
.BP-text-brown,.BP-hover-text-brown:hover{color:#795548!important}
.BP-text-cyan,.BP-hover-text-cyan:hover{color:#00bcd4!important}
.BP-text-blue-grey,.BP-hover-text-blue-grey:hover,.BP-text-blue-gray,.BP-hover-text-blue-gray:hover{color:#607d8b!important}
.BP-text-green,.BP-hover-text-green:hover{color:#4CAF50!important}
.BP-text-light-green,.BP-hover-text-light-green:hover{color:#8bc34a!important}
.BP-text-tech-green,.BP-hover-text-tech-green:hover{color:#23c40e!important}
.BP-text-crypto-blue,.BP-hover-text-crypto-blue:hover{color:#34b6f8!important}
.BP-text-indigo,.BP-hover-text-indigo:hover{color:#3f51b5!important}
.BP-text-khaki,.BP-hover-text-khaki:hover{color:#b4aa50!important}
.BP-text-lime,.BP-hover-text-lime:hover{color:#cddc39!important}
.BP-text-orange,.BP-hover-text-orange:hover{color:#ff9800!important}
.BP-text-deep-orange,.BP-hover-text-deep-orange:hover{color:#ff5722!important}
.BP-text-pink,.BP-hover-text-pink:hover{color:#e91e63!important}
.BP-text-purple,.BP-hover-text-purple:hover{color:#9c27b0!important}
.BP-text-deep-purple,.BP-hover-text-deep-purple:hover{color:#673ab7!important}
.BP-text-red,.BP-hover-text-red:hover{color:#f44336!important}
.BP-text-sand,.BP-hover-text-sand:hover{color:#fdf5e6!important}
.BP-text-teal,.BP-hover-text-teal:hover{color:#009688!important}
.BP-text-yellow,.BP-hover-text-yellow:hover{color:#d2be0e!important}
.BP-text-Liberland-yellow,.BP-hover-text-Liberland-yellow:hover{color:#fcd215!important} 
.BP-text-white,.BP-hover-text-white:hover{color:#fff!important}
.BP-text-black,.BP-hover-text-black:hover{color:#000!important}
.BP-text-grey,.BP-hover-text-grey:hover,.BP-text-gray,.BP-hover-text-gray:hover{color:#757575!important}
.BP-text-light-grey,.BP-hover-text-light-grey:hover,.BP-text-light-gray,.BP-hover-text-light-gray:hover{color:#f1f1f1!important}
.BP-text-dark-grey,.BP-hover-text-dark-grey:hover,.BP-text-dark-gray,.BP-hover-text-dark-gray:hover{color:#3a3a3a!important}
.BP-border-amber,.BP-hover-border-amber:hover{border-color:#ffc107!important}
.BP-border-aqua,.BP-hover-border-aqua:hover{border-color:#00ffff!important}
.BP-border-blue,.BP-hover-border-blue:hover{border-color:#2196F3!important}
.BP-border-light-blue,.BP-hover-border-light-blue:hover{border-color:#87CEEB!important}
.BP-border-brown,.BP-hover-border-brown:hover{border-color:#795548!important}
.BP-border-cyan,.BP-hover-border-cyan:hover{border-color:#00bcd4!important}
.BP-border-blue-grey,.BP-hover-border-blue-grey:hover,.BP-border-blue-gray,.BP-hover-border-blue-gray:hover{border-color:#607d8b!important}
.BP-border-green,.BP-hover-border-green:hover{border-color:#4CAF50!important}
.BP-border-light-green,.BP-hover-border-light-green:hover{border-color:#8bc34a!important}
.BP-border-indigo,.BP-hover-border-indigo:hover{border-color:#3f51b5!important}
.BP-border-khaki,.BP-hover-border-khaki:hover{border-color:#f0e68c!important}
.BP-border-lime,.BP-hover-border-lime:hover{border-color:#cddc39!important}
.BP-border-orange,.BP-hover-border-orange:hover{border-color:#ff9800!important}
.BP-border-deep-orange,.BP-hover-border-deep-orange:hover{border-color:#ff5722!important}
.BP-border-pink,.BP-hover-border-pink:hover{border-color:#e91e63!important}
.BP-border-purple,.BP-hover-border-purple:hover{border-color:#9c27b0!important}
.BP-border-deep-purple,.BP-hover-border-deep-purple:hover{border-color:#673ab7!important}
.BP-border-red,.BP-hover-border-red:hover{border-color:#f44336!important}
.BP-border-sand,.BP-hover-border-sand:hover{border-color:#fdf5e6!important}
.BP-border-teal,.BP-hover-border-teal:hover{border-color:#009688!important}
.BP-border-yellow,.BP-hover-border-yellow:hover{border-color:#ffeb3b!important}
.BP-border-white,.BP-hover-border-white:hover{border-color:#fff!important}
.BP-border-black,.BP-hover-border-black:hover{border-color:#000!important}
.BP-border-grey,.BP-hover-border-grey:hover,.BP-border-gray,.BP-hover-border-gray:hover{border-color:#9e9e9e!important}
.BP-border-light-grey,.BP-hover-border-light-grey:hover,.BP-border-light-gray,.BP-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.BP-border-dark-grey,.BP-hover-border-dark-grey:hover,.BP-border-dark-gray,.BP-hover-border-dark-gray:hover{border-color:#616161!important}
.BP-border-pale-red,.BP-hover-border-pale-red:hover{border-color:#ffe7e7!important}.BP-border-pale-green,.BP-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.BP-border-pale-yellow,.BP-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.BP-border-pale-blue,.BP-hover-border-pale-blue:hover{border-color:#e7ffff!important}

p {
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    color: #f1f1f1 
 }

 pOldEurope {
    font-family: 'BuryCapsMedium';
    font-weight: normal;
    font-style: normal;
 }
 
 pGothic {
    font-family: 'GothicaBookOblique';
    font-weight: normal;
    font-style: italic;
    color: #f1f1f1 
 }
 
